/* Variables */
:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #333;
  --blue-color: #ff5c8d;
  --bg-hablities: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: var(--black-color) url(/img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.toggle.active {
  background: var(--black-color) url(/img/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding: 100px;
  min-height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .imgSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.banner .imgSidebar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home*/
.banner .contentBx,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--gray-color);
  color: var(--white-color);
  padding: 0 5px;
}

.banner .contentBx h4 {
  font-size: 1.5em;
  color: var(--gray-color);
  font-weight: 300;
}

.banner .contentBx h4 span {
  font-size: 1.5em;
  color: var(--blue-color);
  font-weight: 700;
}

.banner .contentBx h2 {
  font-size: 3em;
  color: var(--gray-color);
  line-height: 1em;
}

p {
  font-size: 1.1em;
  margin: 20px 100px;
  font-weight: 300;
}

.btn {
  background: var(--blue-color);
  color: var(--white-color);
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}

.sidebar {
  position: fixed;
  background: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 2em;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sidebar ul li a:hover {
  color: var(--blue-color);
}

.sci {
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li {
  list-style: none;
}

.sci li img {
  transform: scale(0.2);
  opacity: 0.7;
}

.sci li img:hover {
  opacity: 1;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  color: var(--blue-color);
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title p {
  max-width: 700px;
  display: inline-block;
}

.title h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: var(--black-color);
}

.title.white p {
  color: var(--white-color);
}

.title.white h2::before {
  background: var(--white-color);
}

/* Sobre mi*/

.about {
  background: var(--black-color);
}


.about .content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .textBx {
  min-width: 49%;
  width: 40%;
}

.about .content .textBx p {
  color: var(--white-color);
}

.about .content .imgBx {
  margin-left: 40px;
}

.about .content .imgBx img{
  max-width: 100%;
}

/* Habilidades */

.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.services .content .servicesBx {
  padding: 40px 40px;
  max-width: 340px;
  margin: 40px;
  transition: 0.5s;
  text-align: center;
  background: var(--bg-hablities);
}

.services .content .servicesBx:hover {
  background: var(--black-color);
}

.services .content .servicesBx img {
  max-width: 80px;
  transition: 0.5s;
}

.services .content .servicesBx h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.services .content .servicesBx:hover h2 {
  color: var(--white-color);
}

.services .content .servicesBx p {
  margin: 0;
  transition: 0.5s;
}

.services .content .servicesBx:hover p {
  color: var(--white-color);
}


/* Projects */

.work {
  background: var(--black-color);
  color: var(--white-color);
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.work .content .workBx {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 30px;
  transition: 0.5s;
  text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work .content .workBx .textBx {
  background: var(--black-color);
  opacity: 0;
  transition: 0.5s;
}

.work .content .workBx:hover .textBx {
  opacity: 1;
}

.work .content .workBx .textBx h3 {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}


.work .content .workBx .textBx a {
  text-decoration: none;
}

/* Footer*/
.copyright {
  background: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  color: var(--white-color);
}

.copyright p span {
  color: var(--blue-color);
}


/* Responsive */
 @media (max-width: 991px)
{
  .banner .imgSidebar {
    display: none;
  }

  .banner .contentBx, .sidebar {
    width: 100%;
    padding: 40px;
  }

  .logoText {
    left: 40px;
  }

  .toggle {
    right: 40px;
  }

  p {
    margin: 20px 10px;
  }

  .sci {
    left: 40px;
  }

  .sci li{
    width: 50px;
    height: 150px;
  }
  section {
    padding: 40px;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .textBx {
    min-width: 100%;
    width: 100%;
  }

  .about .content {
    margin-top: 0;
  }

  .about .content .servicesBx {
    padding: 30px 20px;
    max-width: 340px;
    margin: 10px;
  }

  .work .content .workBx {
    width: 350px;
    height: 135px;
  }
}
